
<div class="page page-table" button-permission-binder parentName="Purchase Order" pageName="View Purchase Order">
    <section class="panel panel-default table-dynamic">
        <div class="panel-heading">
            <strong><span class="glyphicon glyphicon-th"></span>Purchase Order Master</strong>
        </div>
        <div class="panel-body">
            <div name="form_constraints" class="form-validation ng-pristine ng-invalid ng-invalid-required ng-invalid-equal">
                <div class="table-filters">
                    <div class="row">
                        <div class="col-sm-1">
                            <label for="site-name"></label><br />
                            <!--<button type="button" class="btn btn-primary skadd" ng-click="openmodel()" data-dismiss="modal">
            <span class="glyphicon glyphicon-plus"> </span>Add PO
        </button>-->
                        </div>
                        <div class="col-sm-2">
                            <label for="site-name">Select Warehouse</label><br />
                            <select class="form-control" id="site-name" ng-model="WarehouseId" data-ng-change="getData1(pageno)">
                                <option value="">-Select-</option>
                                <option value="{{warehouses.value}}" ng-repeat="warehouses in warehouse" data-ng-selected="WarehouseId == warehouses.value"> {{warehouses.label}}</option>
                            </select>
                        </div>
                        <div class="col-sm-2">
                            <label for="site-name">Select Status</label><br />
                            <select class="form-control" id="site-name" ng-model="selectedstatus" data-ng-change="getData1(pageno)">
                                <option value="">-Select-</option>
                                <option value="{{selectedstatus}}" ng-repeat="selectedstatus in GetAllStatus"> {{selectedstatus}}</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label for="site-name">Select Export Warehouses</label>
                            <div ng-dropdown-multiselect="" id="value" options="warehouse" selected-model="examplemodel" extra-settings="examplesettings"></div>
                        </div>
                        <div style="background-color:antiquewhite">
                            <div class="col-sm-3">
                                <label for="site-name">Select Date Range</label><br />
                                <div class="form-group">
                                    <div class='input-group date'>
                                        <input name="daterange" id="dat" type='text' title="Select Date" class="form-control date-picker" />
                                        <span class="input-group-addon ">
                                            <span class="fa fa-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-1">
                                <label for="site-name"></label><br />
                                <button type="button" class="btn btn-primary skexport" ng-click="exportData(WarehouseId)">
                                    <span class="glyphicon glyphicon-export"> </span> Export
                                </button>
                            </div>
                            <!--<div class="col-sm-1">
            <label for="site-name"></label><br />
            <button type="button" class="btn btn-primary skexport" ng-click="downloadexcelformat()">
                <span class="glyphicon glyphicon-export"> </span>Excel Format
            </button>
        </div>-->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <label for="site-name"></label><br />
                            <input type="text" placeholder="Enter PO Id/SupplierName" class="form-control" data-ng-model="searchKey">
                        </div>
                        <div class="col-sm-2">
                            <label for="site-name"></label><br />
                            <button type="button" class="btn btn-primary" ng-click="searchData()" data-dismiss="modal">
                                <span class="glyphicon glyphicon-search"> </span>  Search By PO Number
                            </button>
                        </div>
                        <div class="col-sm-1">
                            <label for="site-name"></label><br />
                            <button type="button" class="btn btn-dark" ng-click="refresh()" data-dismiss="modal">
                                <span class="glyphicon glyphicon-refresh"> </span>  Refresh Page
                            </button>
                        </div>
                        <div class="col-sm-2">
                            <label for="site-name"></label><br />
                            <form>
                                <input type="text" placeholder="search" class="form-control" data-ng-model="searchKeywords" data-ng-keyup="search()">
                            </form>
                        </div>
                        <div class="col-sm-2 filter-result-info">
                            <label for="site-name"></label><br />
                            <span>
                                Showing {{filteredStores.length}}/{{stores.length}} Entries
                            </span>
                        </div>
                    </div>
                </div>
                <table class="table table-bordered table-striped table-responsive " ng-show="order">
                    <thead>
                        <tr>
                            <th>
                                <div class="th">
                                    SNo.
                                </div>
                            </th>
                            <th>
                                <div class="th">
                                    Purchase Order #

                                </div>
                            </th>
                            <th>
                                <div class="th">
                                    Warehouse

                                </div>
                            </th>
                            <th>
                                <div class="th">
                                    Supplier Name/
                                    <small>(DepoName)</small>
                                </div>
                            </th>
                            <th>
                                <div class="th">
                                    Advance Amount

                                </div>
                            </th>

                            <th>
                                <div class="th">
                                    Status

                                </div>
                            </th>
                            <th>
                                <div class="th">
                                    PR Type

                                </div>
                            </th>
                            <th>
                                <div class="th">
                                    Created

                                </div>
                            </th>
                            <th>
                                <div class="th">
                                    Progress
                                </div>
                            </th>
                            <th>
                                <div class="th">
                                    Details

                                </div>
                            </th>
                            <th>
                                <div class="th">
                                    Invoice

                                </div>
                            </th>
                            <th>
                                <div class="th">
                                    Goods Received
                                </div>
                            </th>
                            <th>
                                <div class="th">
                                    IR
                                </div>
                            </th>
                            <th>
                                <div class="th">
                                    PR
                                </div>
                            </th>
                            <th>
                                <div class="th">
                                    Advance Payment Status
                                </div>
                            </th>
                            <th>
                                <div class="th">
                                    Clone PR
                                </div>
                            </th>
                            <!--<th>
                                <div class="th">
                                    Cancel
                                </div>
                            </th>-->
                        </tr>
                    </thead>
                    <tbody>
                        <tr dir-paginate="trade in currentPageStores|itemsPerPage:itemsPerPage" total-items="total_count">
                        <tr data-ng-repeat="trade in currentPageStores">
                            <td>
                                {{$index+1}} <br />
                                <span ng-if="trade.IsGDN==true" class="badge badge-primary"> GDN </span>
                            </td>
                            <td>
                                {{trade.PurchaseOrderId}}
                                <br /> <span ng-if="(trade.PoType == 'Auto PR')" class="label label-danger ng-binding">{{trade.PoType}} </span>
                                 <span ng-if="(trade.PoType == 'Manual')" class="label label-info ng-binding">Manual PO</span>
                                <span ng-if="(trade.PoType == 'Automated')" class="label label-success ng-binding">Auto PO</span>
                            </td>
                            <td>{{trade.WarehouseName}}&nbsp;({{trade.WarehouseCity}}) </td>
                            <td>{{trade.SupplierName}}/(<small>{{trade.DepoName}}</small>)</td>
                            <!--<td>{{trade.Advance_Amt | number:2}}</td>-->
                            <td ng-if="(trade.PRPaymentType =='AdvancePR'  && trade.IsPR== true)">
                                {{trade.Advance_Amt | number:2}}
                            </td>
                            <td ng-if="(trade.PRPaymentType !='AdvancePR')">
                                0
                            </td>
                            <td>{{trade.Status}}</td>
                            <td>
                                <span ng-if="(trade.PRPaymentType == 'AdvancePR')" class="label label-info ng-binding">Advance PR</span>
                                <span ng-if="(trade.PRPaymentType == 'CreditPR')" class="label label-success ng-binding">Credit PR</span>
                                <br />
                                <br />
                                <span ng-if="trade.IsAdjustmentPo==true" class="badge badge-primary"> Adjustment Po</span>
                            </td>
                            <td>{{trade.CreationDate | date:'medium'}}</td>
                            <td>
                                <b>{{trade.progress}}&nbsp;%</b>

                            </td>
                            <td>
                                <button type="button" class="btn btn-primary  btn-sm skopen" ng-click="open(trade)">
                                    <span class="glyphicon glyphicon-eye-open "></span> Open
                                </button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-warning  btn-sm skpoinvoice" ng-disabled="trade.Status == 'Draft'||trade.Status == 'Rejected'" ng-click="invoice(trade)">
                                    <span class="glyphicon glyphicon-list-alt "></span> PO Invoice
                                </button>
                            </td>
                            <td>
                                <!--<button type="button" ng-disabled="trade.Status == 'Draft'||trade.Status == 'Rejected'||trade.Status == 'Send for Approval'||trade.Status == 'pending'|| trade.Status == 'Closed'" class="btn btn-primary mb1 bg-teal btn-sm skgoodrecieved" ng-click="goodrecived(trade)">-->
                                <a href="#/GoodsRecivedNew/{{trade.PurchaseOrderId}}" target="_blank">
                                    <span class="btn-sm btn-primary" ng-disabled="trade.Status == 'Draft'||trade.Status == 'Rejected'||trade.Status == 'Send for Approval'||trade.Status == 'pending'|| trade.Status == 'Closed'">
                                        Good Recived
                                    </span>
                                </a>


                                <!--</button>-->
                            </td>
                            <td>

                                <!--"trade.purDetails.recCount==1 || ||trade.Gr1Status == 'Rejected'-->
                                <button type="button" ng-show="trade.Status == 'CN Received' ||trade.Status =='CN Partial Received'  ||trade.Status =='UN Partial Received'||trade.Status =='UN Received' || trade.Status =='Received' || trade.Status == 'Auto Closed' || trade.Status == 'Closed' " class="btn btn-danger btn-sm skir" ng-click="IRrecived(trade)">IR</button>

                            </td>
                            <!--<td>
                                <button class="btn btn-danger btn-sm skhistory" ng-disabled="trade.Status == 'Draft'" data-toggle="modal" data-target="#PoHistory" ng-click="PoHistroy(trade)">
                                    <span class="glyphicon glyphicon-header"></span> History
                                </button>
                            </td>-->
                            <!--<td>-->
                            <!--<span ng-if="UserRoleBackend.rolenames.indexOf('HQ Master login')>-1 || UserRoleBackend.rolenames.indexOf('WH Master login')>-1 || UserRoleBackend.rolenames.indexOf('WH Service lead')>-1 || UserRoleBackend.rolenames.indexOf('WH delivery planner')>-1 || UserRoleBackend.rolenames.indexOf('HQ CS EXECUTIVE')>-1">-->
                            <!--<button class="btn btn-primary " ng-show="(UserRoleBackend.rolenames.indexOf('WH Service lead')>-1 || UserRoleBackend.rolenames.indexOf('Hub service lead')>-1)  && (trade.Gr1Status=='Pending for Checker Side' || trade.Gr2Status=='Pending for Checker Side' || trade.Gr3Status=='Pending for Checker Side' || trade.Gr4Status=='Pending for Checker Side' || trade.Gr5Status=='Pending for Checker Side')" data-toggle="modal" ng-click="Pochecker()">
                                GRChecker
                            </button>-->
                            <!--<button class="btn btn-primary " ng-show="(UserRoleBackend.rolenames.indexOf('WH Service lead')>-1)" data-toggle="modal" ng-click="Pocancel()">
                                Cancel
                            </button>-->
                            <!--</td>-->
                            <td>
                                <button type="button" ng-show="trade.IsPR == true " class="btn btn-info" ng-click="PRDetail(trade)">PR</button>
                            </td>
                            <td>
                                <span ng-if="(trade.IsAdvancePayment == true && trade.PRPaymentType == 'AdvancePR')" class="label label-success ng-binding">Paid</span>
                                <span ng-if="(trade.IsAdvancePayment == false && trade.PRPaymentType == 'AdvancePR')" class="label label-danger ng-binding">UnPaid</span>
                            </td>
                            <!--<td ng-if="(trade.IsAdvancePayment == false && trade.PRPaymentType == 'AdvancePR')">
                                <span class="label label-danger ng-binding">Unpaid</span>
                            </td>-->
                            <td><button class="btn btn-danger" ng-show="trade.Status == 'Auto Closed' || trade.Status == 'Closed' " style="float:right; margin-right: 15px;" ng-disabled="IRMasterDc.IRStatus == 'Rejected from Buyer side' || IRMasterDc.IRStatus == 'Approved from Buyer side' || userapprove == true" ng-click="OpenClone(trade)"><span class="glyphicon glyphicon-ok"></span>&nbsp;Clone PR</button>&nbsp;&nbsp;</td>

                        </tr>
                    </tbody>
                </table>
                <footer class="table-footer">
                    <div class="row">
                        <div class="col-md-6 page-num-info">
                            <span>
                                Show
                                <select data-ng-model="selectedPagedItem"
                                        data-ng-options="num for num in numPerPageOpt"
                                        data-ng-change="onNumPerPageChange()"></select>//option for no. Items per page //this give no. of items selected to show on page
                                entries per page
                            </span>
                        </div>
                        <div class="col-md-6 page-num-info">
                            <dir-pagination-controls max-size="8"
                                                     direction-links="true"
                                                     boundary-links="true"
                                                     on-page-change="getData1(newPageNumber)">
                                //get method call every time when page changes
                            </dir-pagination-controls>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </section>
</div>

<!--PO Histroy  model-->
<style>
    .w3-red {
        color: #fff !important;
        background-color: saddlebrown;
    }

    .w1-red {
        color: #fff !important;
        background-color: #4c4948 !important;
    }
</style>
<style>
    .modal-dialog1 {
        width: 50% !important;
        margin-left: 485px;
    }

    .redispatch {
        color: blue;
    }

    .delivered {
        color: forestgreen;
    }

    .canceled {
        color: red;
    }
</style>
<div class="modal fade " id="PoHistory" role="dialog">
    <div class="modal-dialog1">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header w3-red">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title" style="text-align: center;">Order History</h3>
            </div>
            <table class="table table-bordered table-striped table-responsive">
                <thead>
                    <tr>
                        <th>PurchaseOrderId</th>
                        <td>{{datapomasterHistrory[0].PurchaseOrderId}}</td>
                        <td><button class="btn-sm btn-primary" data-toggle="modal" data-target="#PoItemDetail" ng-click="PoitemHistroy(datapomasterHistrory[0].PurchaseOrderId)">PoItemDetails</button></td>
                    </tr>
                </thead>
                <thead>
                    <tr class="w1-red">
                        <th>
                            <div class="th">
                                Status
                            </div>
                        </th>
                        <th>
                            <div class="th">
                                Amount
                            </div>
                        </th>
                        <th>
                            <div class="th">
                                EditBy
                            </div>
                        </th>

                        <th>
                            <div class="th">
                                CreatedDate
                            </div>
                        </th>


                    </tr>
                </thead>
                <tbody>
                    <!--data-ng-repeat="trade in dataordermasterHistrory-->
                    <tr data-ng-repeat="trade in datapomasterHistrory">
                        <td>{{trade.Status}}</td>
                        <td>{{trade.Amount}}</td>
                        <td>{{trade.EditBy}}</td>
                        <td>{{trade.UpdatedDate| date:'medium'}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="modal-footer w3-red">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- /site tiles -->
<div class="modal fade " id="PoItemDetail" role="dialog">
    <div class="modal-dialog1">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header w3-red">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title" style="text-align: center;">Po Item History</h3>
            </div>
            <table class="table table-bordered table-striped table-responsive">
                <thead>
                    <tr class="w1-red">
                        <th>
                            <div class="th">
                                Item Name
                            </div>
                        </th>
                        <th>
                            <div class="th">
                                Supplier Name
                            </div>
                        </th>

                        <th>
                            <div class="th">
                                No.Pieces
                            </div>
                        </th>
                        <th>
                            <div class="th">
                                CurrentStock
                            </div>
                        </th>
                        <th>
                            <div class="th">
                                Old Price
                            </div>
                        </th>
                        <th>
                            <div class="th">
                                New Price
                            </div>
                        </th>
                        <th>
                            <div class="th">
                                Item Number
                            </div>
                        </th>
                        <th>
                            <div class="th">
                                Item Type
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <!--data-ng-repeat="trade in dataordermasterHistrory-->
                    <tr data-ng-repeat="trade in dataPoitemDetail">
                        <td>{{trade.ItemName}}</td>
                        <td>{{trade.SupplierName}}</td>
                        <td>{{trade.NOOfPieces}}</td>
                        <td>{{trade.CurrentStock}}</td>
                        <td>{{trade.oldprice}}</td>
                        <td>{{trade.newprice}}</td>
                        <td>{{trade.ItemNumber}}</td>
                        <td>{{trade.status}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="modal-footer w3-red">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<script type="text/ng-template" id="POClone.html">
    <form name="myFormSiteModal">
        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()" data-dismiss="modal">
                <span class="icon icon-x" aria-hidden="true">
                </span>
                <span class="sr-only">Close</span>
            </button>
            <button aria-hidden="true" class="close" data-dismiss="modal" type="button" ng-click="ok()">×</button>
            <h4 class="modal-title">PR Clone</h4>
        </div>
        <div class="modal-body">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="site-name">Do you want to Clone this PR ?</label><br />
                </div>
                <div class="form-group">
                    <label for="site-name">PR ID</label><br />
                    <input class="form-control" ng-model="saveData.PurchaseOrderId" disabled />
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-ar btn-warning" ng-click="cancel()" data-dismiss="modal">No</button>
            <button type="button" class="btn btn-ar btn-primary" ng-click="Clone(saveData)">Yes</button>
        </div>
    </form>
</script>