<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <!-- add your targets here -->

    <!--
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    -->
    <!--<target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />-->
   
     <target name="WebAPILogFile" xsi:type="File" fileName="${basedir}/Logs/${date:format=yyyy-MM-dd}-webapi.log" />
    <target name="Infolog" xsi:type="File" fileName="${basedir}/Logs/${date:format=yyyy-MM-dd}-Info.log" />
    <target name="Errorlog" xsi:type="File" fileName="${basedir}/Logs/${date:format=yyyy-MM-dd}-error.log" />



  </targets>
  <rules>
    <!-- add your logging rules here -->

    <logger name="WebAPILog" minlevel="Trace" writeTo="WebAPILogFile" />
    <logger name="*" minlevel="Info" writeTo="Infolog" />
    <logger name="*" minlevel="Error" writeTo="Errorlog" />
    <!--<logger name="*" minlevel="Info" writeTo="f" />-->

  </rules>
</nlog>