<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy Policy</title>
</head>
<body>
    <header>
        <h3>Privacy Policy</h3>
        <p>
            We value Customers’ privacy as if it were our own.<br />
            We,  Arthmate Financing India Private Limited powered by ShopKirana are strongly committed to protecting the privacy of our customers and have taken all the necessary measures to protect the confidential information of our customers during their visits, using our website, availing the products and services vide the online applications, any and every interaction/ transaction made, calls to SMS/Customer care. The Bank shall not be held liable for disclosure of the confidential information when the disclosure is in accordance with this Privacy Commitment or in terms of the agreements, if any, with the customers. We recognize our responsibility to keep the information provided by the customers to us, confidential at all times.
        </p>
    </header>

    <section>
        <h3>Applicability</h3>
        <p>
            This Policy is applicable to personal information and sensitive personal data or information collected by Arthmate Financing India Private Limited or its connections directly from the customer or through online portals, mobile apps, and electronic communications. It includes information collected by the company’s server from the customer’s browser.
        </p>
        <p>
        
        </p>
    </section>

    <section>
        <h3>Definitions</h3>
        <strong>Personal information</strong> - Any information that relates to any person, directly or indirectly, capable of identifying such a person.
        <br>
        <strong>Sensitive personal data or information</strong> - Information related to but not limited to passwords, biometric data, date of birth, nominee details, financial details, health conditions, excluding information publicly available or furnished under specific laws.

        <p>
            Sensitive personal data or information of a person means such personal information which consists of information relating to but not limited to:<br /><br />

            Password<br />
            Biometric information, etc.<br />
            Date of birth<br />
            Nominee details, etc.<br />
            Bank account or credit card or debit card or other payment instrument details<br />
            Physical, physiological and mental health conditions<br />
            Any information that is easily available or accessible in public domain or furnished under the Right to Information Act, 2005 or any other law for the time being in force shall not be regarded as sensitive personal data or information for the purposes of this policy.
        </p>
    </section>

    <section>
        <h3>The Features of the Policy</h3>
        <p>
            All Information collected shall be used for the relevant lawful purposes connected with various functions or activities of the company related to services in which the Concerned Person is interested, and/or to help determine the eligibility of the Concerned Persons for the product/services requested/ applied/ shown interest in and/or to enable the company to verify Persons verification and/or process applications, requests, transactions and/or maintain records as per internal/legal/regulatory requirements and shall be used to provide the Concerned Person with the best possible services/products as also to protect interests of  Arthmate Financing India Private Limited powered by ShopKirana.

</p>
        <p>


            The Customer Account Information shall not be shared with any external organization unless the same is necessary to enable  Arthmate Financing India Private Limited powered by ShopKirana  to provide you services or to enable the compilation of a transaction, credit reporting, or the same is necessary or required pursuant to applicable norms or pursuant to the terms and conditions applicable to such Information as agreed to with Arthmate Financing India Private Limited powered by ShopKirana or pursuant to any requirement of law/regulations or any Government/court/other relevant authority’s directions/orders. Needless to add, confidentiality norms as applicable to banks shall be adhered to.
        </p>
        <p>

            Keeping financial information secure is one of our most important responsibilities. We maintain physical, electronic and procedural safeguards to protect Customer Information. Employees are authorized to access Customer Information for business purposes only. Our employees are bound by a code of ethics that requires confidential treatment of Customer Information and are subject to disciplinary action if they fail to follow this code.

            </p>
        <p>
            Arthmate Financing India Private Limited powered by ShopKirana may also share Information to provide you with better services and a range of offers and services available to you. If you desire  Arthmate Financing India Private Limited powered by ShopKirana to limit such sharing whereby you would not like to be informed of offers available you may contact us at Info@shopkirana.com
        </p>
    </section>

    <section>
        <h3>Disclosure / Sharing</h3>
        <p>
            The company does not disclose sensitive personal data or information of a customer except as required by law or as per mandate received from the customer / applicant. No specific information about customer accounts or other personally identifiable data is shared with non-affiliated third parties unless any of the following conditions are met:
        </p>
        <p>
            To help complete a transaction initiated by the customer.<br />
            To perform support services through an outsourced entity provided it conforms to the Privacy Policy of the company.<br />
            To provide you with better services and a range of offers and services available to you.<br />
            The customer / applicant has specifically authorized it.<br />
            The disclosure is necessary for compliance of a legal obligation.<br />
            The information is shared with Government agencies mandated under law.<br />
            The information is shared with any third party by an order under the law, etc.<br />
            We may monitor, record, store and use any telephone, email or other electronic communications with you for training purposes, so that we can check any instructions given to us and to improve the quality of our customer service. We will monitor network traffic (used to access hosted applications) from time to time for problem solving.

        </p>
    </section>

    <section>
        <h3>Cookies</h3>

        <p> Our application uses cookies. Cookies are small data files that an application stores on your mobile device. Every cookie is unique to your particular web browser. We use persistent cookies which are permanently placed on your mobile device to store non-personal and profiling information (age, gender, income, etc.). While cookies have a unique identification number, personal information (name, a/c no, contact no. etc.) SHALL NOT be stored on the cookies.</p>

        <p>   We will use the information stored in the cookies to improve visitor experience by displaying relevant content where possible. We will also use the cookies to store visitor preferences to ease visitor navigation on the site. All information collected by third party cookies is aggregated and unidentified. By using our application user/s agree that these types of cookies can be placed on his/her device. User/s is free to disable/delete these cookies by changing his/her device /application settings.  Arthmate Financing India Private Limited powered by ShopKirana is not responsible for cookies placed in the device of user/s by any other application and information collected thereto.</p>

        <p>We may in the future implement encryption of the cookies.</p>

        <p> Further information about cookies.</p>

        <p> If you want to learn more about cookies, please visit www.aboutcookies.org (opens in a new window – please note that we can’t be responsible for the content of external websites).</p>
    </section>

    <section>
        <h3>Security</h3>
        <p>We have taken reasonable measures to protect security and confidentiality of the Customer Information and its transmission through the World Wide Web. You are required to follow the Terms and Conditions while using this Website including the instructions stated therein and as part of Do’s and Don'ts in respect of security and confidentiality of your Log-in and Password</p>
    </section>

    <section>
        <h3>Changes to Privacy Policy</h3>
        <p>Please note that this policy will be reviewed, and may change, from time to time. The revised policy will be posted to this page so that you are always aware of the information we collect, how we use it and under what circumstances we disclose it.</p>
    </section>

    <section>
        <h3>Decision Making</h3>
        <p>Any decision made by us in relation to the services provided to you shall be final.</p>
    </section>

    <section>
        <h3>Customer Care</h3>
        <p>We at  Arthmate Financing India Private Limited powered by ShopKirana value your relationship and will at all times strive to ensure your privacy.</p>
    </section>

    <footer>
        <p>&copy; 2023 Arthmate Financing India Private Limited powered by ShopKirana</p>
    </footer>
</body>
</html>