<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <style>
        body {
            margin: 5%;
            width: 90%;
            height:auto;
            box-shadow: 4px 2px 36px 0px lightgrey;
        }
        .row{
            width:100%;
            height:200px;
        }
        .column {
            float: left;
            width: 50%;
            padding: 2px;
        }
        .column-2 {
            float: left;
            width: 40%;
            padding: 2px;
        }
        /* Clear floats after the columns */
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 80%;
            margin: 2% 10%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

     /*   tr:nth-child(even) {
            background-color: #dddddd;
        }*/
     
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="column">
                <img src="../../notificationimages/arthmate.png" style="width:51%;height:35%;margin:3%" />
            </div>
            <div class="column-2">
                <h3 style="font-weight: 600;">Arthmate Financing India Private Limited</h3>
                (formerly known as Mamta Projects Private Limited)
                (CIN : U23209WB1994PTC063940)
                Regd. Office : EM03, Unit 1528, 15th Floor, Bengal Eco Intelligent Park, Sector V, Saltlake, Kolkata West Bengal – 700091 <br />
                Email: <code style="color:cornflowerblue">customercare@arthmate.com</code>
            </div>
        </div>
    </div>
    <br />


    <div class="container-fluid">
        <div style="text-align:center;">
            <h3 style="font-weight: 600;text-decoration:underline solid 1px">SANCTION LETTER</h3>
            <h5 style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">cum</h5>
            <h4 style="margin: 5px 0px; font-weight: 600; text-decoration: underline solid 1px">KEY FACT STATEMENT </h4>
        </div>
    </div>

    <div class="row" style="margin-top:5%">
        <div class="column" style="padding-left:35px;font-size:20px">
            Date: XXXXXX
            Dear ((Borrower name)) <br />
            ((address1)), ((address2)), <br />
            ((city)), ((state)) ((pin code))<br />
            ((mobile No.)),<br />
            ((email ID))
        </div>

    </div>
    <h4 style="font-weight:600;margin-left:2%">Sub: Loan from Arthmate Financing India Private Limited</h4>
    <p style="font-size:18px;margin:20px">
        This in-principal sanction letter (“Sanction Letter”) cum Key Fact Statement (“KFS”) outlines the principal terms and conditions with respect to the loan (the “Loan”) to be provided by Arthmate Financing India Private Limited (“Lender” or “AFIPL”). Please note that this in-principal sanction is based on your application for the Loan and the Lenders reserve the right to revoke this sanction in case of any misrepresentation or inaccuracy in the information provided by you. The sanction of the Loan is subject to know-your customer (KYC) and other necessary verification of the Borrower(s).
        With reference to your loan application dated ((Application Date)), we hereby offer/sanction you the loan on the following terms and conditions:
    </p>
    <br />

    <table>
        <tr>
            <td style="font-weight:600">1.</td>
            <td style="font-weight:600">
                Borrower Name <br />
                Customer Information File (Lead ID)<br />
                Loan Reference Number

            </td>
            <td>
                --Insert Name of the Borrower-- <br />
                --Insert address of the Borrower--<br />
                --Insert email and phone number of the Borrower--<br />
                --< Lead ID >--

            </td>
        </tr>
        <tr>
            <td style="font-weight:600">2.</td>
            <td style="font-weight:600">Lender Name & Address</td>
            <td>
                <h4 style="font-weight:600">Arthmate Financing India Private Limited</h4>
                EM03, Unit 1528, 15th Floor, Bengal Eco Intelligent Park, Sector V, Salt Lake, Kolkata, West Bengal - 700091

            </td>
        </tr>
        <tr>
            <td style="font-weight:600">3.</td>
            <td style="font-weight:600">Name & Address of the Co-Borrower (if any)</td>
            <td>
                --Insert Name of the Co-Borrower--<br />
                --Address of the Co-Borrower--
            </td>
        </tr>
        <tr>
            <td style="font-weight:600">4.</td>
            <td style="font-weight:600">Name of the Guarantor (if any)</td>
            <td>
                --Insert Name of the Guarantor --<br />
                --Address of the Guarantor--
            </td>
        </tr>
        <tr>
            <td style="font-weight:600">5.</td>
            <td style="font-weight:600">Loan Amount</td>
            <td>
                ₹ Loan Amount in figure>/- (Rupees Loan Amount in words> Only)
            </td>
        </tr>
        <tr>
            <td style="font-weight:600">6.</td>
            <td style="font-weight:600">Interest Rate</td>
            <td>
                Interest Rate % p. a.
            </td>
        </tr>
        <tr>
            <td style="font-weight:600">7.</td>
            <td style="font-weight:600">Total interest charge during the entire tenor of the loan</td>
            <td>
                ₹ Amount in figure/-
            </td>
        </tr>
        <tr>
            <td style="font-weight:600">8.</td>
            <td style="font-weight:600">Processing Fees</td>
            <td>
                <!--<___>-->
                % on the loan amount
                ₹ Amount in figure/-
            </td>
        </tr>
        <tr>
            <td style="font-weight:600">9.</td>
            <td style="font-weight:600">Insurance Charges, if any</td>
            <td>
                ₹ Amount in figure/-
            </td>
        </tr>
        <tr>
            <td style="font-weight:600">10.</td>
            <td style="font-weight:600">Other Charges, if any</td>
            <td>
                ₹ Amount in figure/-
            </td>
        </tr>
        <tr>
            <td style="font-weight:600">11.</td>
            <td style="font-weight:600">
                Net disbursed amount*
                [(5) – (8 +9+10)]
            </td>
            <td>
                ₹ Amount in figure
                /- * <br /><br />
                <code style="font-size:12px">*Please note that the net disbursed amount may vary due to broken period interest basis on the date of disbursement.</code>

            </td>
        </tr>

        <!--(0-11)-->

        <tr>
            <td style="font-weight:600">12.</td>
            <td style="font-weight:600">
                Total amount to be paid by the borrower
                (5+7 +8 +9+10)

            </td>
            <td>
                ₹ Amount in figure/-

            </td>
        </tr>

        <tr>
            <td style="font-weight:600">13.</td>
            <td style="font-weight:600">
                Annual Percentage Rate - Effective annualised interest rate (in percentage)
            </td>
            <td>
                % per annum.
                The Annualised interest rate shall be computed on net disbursed amount using IRR approach and reducing balance method taking into consideration Processing Fees, Interest Rate and any other applicable fees
            </td>
        </tr>

        <tr>
            <td style="font-weight:600">14.</td>
            <td style="font-weight:600">
                Tenor of the Loan
            </td>
            <td>
                : _ Months / _ Days
            </td>
        </tr>

        <tr>
            <td style="font-weight:600">15.</td>
            <td style="font-weight:600">
                Repayment of the Loan
            </td>
            <td>
                Equated Monthly Instalment (EMI) / Bullet Payment / Daily
            </td>
        </tr>

        <tr>
            <td style="font-weight:600">16.</td>
            <td style="font-weight:600">
                No. of Instalments of Repayments
            </td>
            <td>
                _The Repayment Schedule is annexed herewith as Schedule I
            </td>
        </tr>

        <tr>
            <td style="font-weight:600">17.</td>
            <td style="font-weight:600">
                Instalment Amount
            </td>
            <td>
                ₹ Amount in figure
            </td>
        </tr>

        <tr>
            <td style="font-weight:600">18.</td>
            <td style="font-weight:600">
                Loan Type
            </td>
            <td>
                Personal Loan / Business Loan / Term Loan / Loan Against Property
            </td>
        </tr>

        <tr>
            <td style="font-weight:600">19.</td>
            <td style="font-weight:600">
                Purpose of the Loan
            </td>
            <td>
                Personal requirement / Working Capital / Business Expansion / Inventory / Purchase of Business Fixed Assets / Expansion of Premises
            </td>
        </tr>

        <tr>
            <td style="font-weight:600">20.</td>
            <td style="font-weight:600">
                Lending Service Provider/Agent (“LSP”)
            </td>
            <td>
                Full Name of Partner> which shall act as Agent of the Lender(s) to coordinate with the Borrower on behalf of the Lender(s) in respect of the matters of
                the Loan. It shall act in accordance with the instructions of the
                Lender(s) for the purpose of disbursement, collection, recovery and such other matters incidental to the Loan. The Lender(s) authorize the LSP to act as Recovery Agent and also initiate legal proceedings
                (wherever required) on behalf of the Lender(s).
            </td>
        </tr>

        <tr>
            <td style="font-weight:600">21.</td>
            <td style="font-weight:600">
                Digital Lending Application
            </td>
            <td>
                Web and/or mobile based platform “________” owned, developed and operated by LSP
            </td>
        </tr>

        <tr>
            <td style="font-weight:600">22.</td>
            <td style="font-weight:600">
                Account Details of the Borrower
            </td>
            <td>
                The Loan will be disbursed to the bank account of the Borrower
                <table>
                    <tr>
                        <td>Bank Account number</td>
                        <td>Insert Bank A/c No</td>
                    </tr>
                    <tr>
                        <td>Account holder name</td>
                        <td>Insert Borrower / Account holder name</td>
                    </tr>
                    <tr>
                        <td>Type of account</td>
                        <td>Insert type Bank A/c No</td>
                    </tr>
                    <tr>
                        <td>Bank name</td>
                        <td>Insert Bank Name</td>
                    </tr>
                    <tr>
                        <td>IFSC Code</td>
                        <td>Insert IFSC Code</td>
                    </tr>
                </table>
            </td>
        </tr>
        <!--(12-22)-->

        <tr>
            <td style="font-weight:600">23.</td>
            <td style="font-weight:600">
                Prepayment Option and Charges
            </td>
            <td>
                The Borrower may prepay all or any part of the outstanding loan/facility together with outstanding interest, fees, costs and charges at any time. However, the Borrower shall be charged ____ % plus applicable taxes on the amount prepaid
            </td>
        </tr>
        <tr>
            <td style="font-weight:600">24.</td>
            <td style="font-weight:600">
                Penal Interest in case of delay / default
            </td>
            <td>
                <> % per annum plus applicable taxes
            </td>
        </tr>
        <tr>
            <td style="font-weight:600">25.</td>
            <td style="font-weight:600">
                ECS/NACH mandate reject charge
            </td>
            <td>
                In the event, the ECS/ NACH mandate registration is rejected, Lender will charge     rejection charges not exceeding ₹ ____/- per rejection.
            </td>
        </tr>
        <tr>
            <td style="font-weight:600">26.</td>
            <td style="font-weight:600">
                Charges for bouncing of the Repayment Instrument(s)
            </td>
            <td>
                In case of default by reason of the Repayment Instrument(s) being dishonoured, Lender(s) shall charge ₹ ____/- per month / per default towards its dishonour.
            </td>
        </tr>
        <tr>
            <td style="font-weight:600">27.</td>
            <td style="font-weight:600">
                Confidentiality
            </td>
            <td>
                The Borrower agrees and acknowledges that the terms and conditions of this sanction letter and the Loan agreement and all other information exchanged during discussions or negotiation shall be considered as
                confidential information (“Confidential Information”) and the Borrower shall not make any disclosure of the Confidential Information, except as may be required by law,
                or to its consultants or advisors on a need-to-know basis under a duty of confidentiality.
            </td>
        </tr>
        <tr>
            <td style="font-weight:600">28.</td>
            <td style="font-weight:600">
                Cooling off period
            </td>
            <td>
                7 days* from the disbursal of the Loan
                *Please note proportionate interest & other charges (other than pre-payment/foreclosure charges) will be levied during the Cooling Off period.
            </td>
        </tr>
        <tr>
            <td style="font-weight:600">29.</td>
            <td style="font-weight:600">
                Query Complaints Contact
            </td>
            <td>
                For any queries, Borrowers can reach out to Arthmate Financing India Private Limited at customercare@arthmate.com and
                for any complaints at complaints@arthmate.com or call at +917835009643.
                While writing the complaints or queries, Borrowers must ensure to provide Borrower Name, Loan ID, Fin-tech partner/LSP Name, Mobile no. and Email ID.

            </td>
        </tr>
        <tr>
            <td style="font-weight:600">30.</td>
            <td style="font-weight:600">
                Grievance Redressal Officer of the Lender
            </td>
            <td>
                Mr. Yogesh Rohilla
                Arthmate Financing India Private Limited
                The Circle Work, 3rd Floor, Huda City Center, Sector – 29, Gurugram, Haryana – 122002
                Email Id: statutory.compliance@arthmate.com
                Contact Number: +91 – 7835009643

            </td>
        </tr>
        <tr>
            <td style="font-weight:600">31.</td>
            <td style="font-weight:600">
                Grievance Redressal Officer of the Lender Representative (LSP/Agent)
            </td>
            <td>
                Name: ___________________ <br />
                Designation: ______________<br />
                Address: _________________<br />
                Email Id: _________________<br />
                Contact Number: __________<br />

            </td>
        </tr>
        <tr>
            <td style="font-weight:600">32.</td>
            <td style="font-weight:600">
                Electronic execution
            </td>
            <td>
                For ease of operation of the Borrower, the Loan is being sanctioned and provided using online secure platforms (hereinafter referred to as “Online Loan”) and the Borrower has consented to accept the Loan and the terms of such Loan (including this Sanction Letter and the loan agreement) through a one-time password, access code or other forms of secure authentication.
                The Borrower acknowledges and accepts that on receipt of the one-time password, access code or other forms of secure authentication, the Lender shall assume that such authentication has been provided by the Borrower and it is the sole responsibility of the Borrower to ensure that the one-time password, access code or other forms of secure authentication is not compromised or shared with any unauthorized users.
                The Lender(s) and LSP or other representatives of the Lender(s) shall have no obligation to verify the authenticity of any transaction or instruction received or purported to have been received from the Borrower through the Online Facility or purporting to have been sent by the Borrower other than by means of verification of the one-time password, access code or other forms of secure authentication. All the records of the Lender(s) and LSP or other representatives of the Lender(s) with respect to the online request for facility arising out of the use of the Online Facility and arising out of the use of the one-time password, access code or other forms of secure authentication shall be conclusive proof of the genuineness and accuracy of the transaction and shall be binding on the Borrower.
                The Borrower expressly agrees and acknowledges to have read and understood the terms applicable for usage of the Online Facility and be bound by such terms

            </td>
        </tr>
        <tr>
            <td style="font-weight:600">33.</td>
            <td style="font-weight:600">
                Transfer, Novation, Securitisation, Co-lending, and Participation
            </td>
            <td>
                The Lender(s) may sell, transfer, assign, or novate, all or part, of the Outstanding and, or its rights, benefits, and interest in the Loan documents to another person without taking an approval of or notifying the Borrower. The Lenders may also securitise the Outstanding without taking an approval or notifying the Borrower.
                The Lender(s) may disburse the Loan Amount to the Borrower. Upon such disbursement, each such persons, which has disbursed the part of the Loan Amount, shall be considered as the ‘Lender’ under the Loan Documents to the extent of the Loan Amount disbursed by them.
                Without prejudice to the foregoing, the Lenders may share the credit risk of the whole or a part of its share in the Outstanding with any other person by way of participation without taking an approval of or notifying the Borrower.

            </td>
        </tr>

        <!--(23-33)-->
    </table>

    <h3 style="font-weight: 600;text-decoration:underline solid 1px">Other conditions:</h3>
    <p style="margin:20px">
        1.	The Sanction Letter is being issued on the basis of the preliminary documents submitted by the Borrower which are subject to verification as per Lender’s policy.
        Lender shall disburse the loan only upon completion of verification process to the complete satisfaction of Lender. Accordingly, neither issuance of this Sanction Letter nor execution of the Loan Agreement shall
        be construed as Lender’s commitment to disburse the loan. The Borrower hereby expressly waives its right to initiate any legal action against Lender(s) in case Lender(s)
        rejects the loan application on account of the verification not being found satisfactory.
    </p>
    <p style="margin:20px">
        2.	The terms of this Sanction Letter summarize certain basic terms of the Loan facility. It is not the definitive or
        exhaustive list of all the conditions of the Loan facility. The detailed terms and conditions of the Loan facility are contained in the Loan Agreement.
    </p>
    <p style="margin:20px">
        3.	The sanction and disbursal of the Loan Amount is subject to execution and, or acceptance of the loan agreement,
        registration of E-NACH / e-mandate for repayments (including lender’s authorized third-party service providers) and other conditions as per Loan Agreement.
    </p>
    <p style="margin:20px">
        4.	The Loan Amount disbursed by the Lender(s) shall be utilized solely for the purpose it is being sanctioned and no other purpose. The Lender(s) reserves the right to call for any document or information for loan amount utilization by the Borrower.


    </p>
    <p style="margin:20px">
        5.	The Borrower shall inform Lender(s) in writing about any change in the permanent and, or correspondence addresses or contact details (as the case may be) immediately.
    </p>
    <p style="margin:20px">
        6.	Notwithstanding the issuance of this Sanction Letter and acceptance thereof, the Lender(s) may in their discretion decide to not disburse the Loan, rescind and, or withdraw the Sanction Letter, without assigning any reasons.
    </p>
    <p style="margin:20px">
        7.	The Lender(s) may, at its sole discretion, waive or reduce the charges as mentioned above. Lender reserves the right to recall the entire loan facility, at
        any time, during the entire tenure of the facility, without assigning any reason whatsoever.
    </p>
    <p style="margin:20px">
        8.	The Borrower shall be required to pay all duties, taxes, costs, stamp duty and statutory levies and such other charges, that may be imposed by the statutory authorities from time to time pertaining to or in connection with the Loan Documents
    </p>
    <p style="margin:20px">
        9.	The Borrower expressly agrees and acknowledges that the Agent / LSP is only acting as a facilitator in obtaining the Loan from the Lender(s) and for performing activities such
        as assisting in loan application. The final decision to whether to approve or reject any Loan or disburse the Loan (in part or full) or rescind and, or withdraw the Sanction Letter, with
        or without assigning any reasons, reside to the sole discretion of the Lender(s). The Agent / LSP does not have any influence over the Lenders’ decision.
    </p>
    <p style="margin:20px">
        10.	During the Tenure of the Loan, the Borrower authorizes all the Lenders including Co-Lender to obtain and, or access the credit information of the Borrower from time to time from
        the credit bureaus. Any default in the payment of the Loan shall be reported by the Lenders to credit bureaus, regulators, statutory authorities, and other financial institutions.
    </p>

    <h5 style="font-weight:600;text-decoration:underline solid 1px">
        By accepting the sanction letter, Borrower / Co-Borrower (You) hereby agree/accept:
    </h5>
    <ul style="list-style-type:disc;">
        <li>To sign the customer loan agreement in as-is form;</li>
        <li>To abide by the Terms and Conditions and Privacy Policies of Lender(s) or its Service Providers or    third-party agents;</li>
        <li>That there will be no mismatch in the document as given to Agent /LSP of the Lender and in the document(s) proposed to be signed by You;</li>
        <li>To not hold Lender(s) or its service providers or third-party agents responsible for any technical or accidental error;</li>
        <li>To restrain yourself from any prohibited or unlawful use of funds provided by Lender(s);</li>
        <li>That you will provide NACH / e-NACH / e-mandate or any other documents which may be required from time to time (including lender’s authorized third-party service providers)</li>
        <li>To bear the insurance premium, processing fee, documentation charges (stamping charges, if applicable) which will be deducted from the disbursement proceeds.</li>
        <li>This Sanction Letter is valid for a period of thirty (30) days only from its issue date.</li>
        <li>The Lender or its Agent reserves the right to report the details of the above-mentioned loan, to relevant third parties including, but not limited to Credit Bureau, Verification & recovery agencies / regulators & law enforcement agencies (LEA’s) or any other agencies / institutions, where required, from time to time for operational or regulatory / compliance related reasons.</li>
    </ul>

    <span style="font-size: 13px; margin: 20px">
        PLEASE NOTE THAT THIS IS AN AUTO-GENERATED SANCTION LETTER BASED ON THE BORROWER’S REQUEST FOR THE LOAN AND THE BORROWER’S ELECTRONIC ACCEPTANCE
        OF THIS SANCTION SHALL CONSTITUTE THE ACCEPTANCE OF THE SANCTION TERMS AND NO SEPARATE SIGNATURE IS REQUIRED. ON APPROVAL OF THE LOAN BY THE LENDER(S), THE BORROWER SHALL BE BOUND BY
        THE TERMS OF THE SANCTION LETTER.
    </span>

    <p> <i>FOR AND ON BEHALF OF </i></p>
    <h5 style="font-weight:600">Arthmate Financing India Private Limited</h5>
    <h5 style="font-weight:600;align-content:flex-start"> Authorized Signatory</h5>

    <div class="row">
        <div class="column">
            <h5 style="font-weight:600;align-content:flex-start">
                Signature
                Borrower
            </h5>
        </div>
        <div class="column-2">
            <h5 style="font-weight:600;align-content:flex-end">
                Signature
                Co-Borrower / Guarantor
            </h5>
        </div>
    </div>
    <div style="text-align:center;">
        <h3 style="font-weight: 600;text-decoration:underline solid 1px">Schedule I</h3>

        <table>
            <tr>
                <th style="font-weight:600">Instalment No.</th>
                <th style="font-weight:600">Outstanding Principal Amount (in Rupees)</th>
                <th style="font-weight:600">Principal (in Rupees)</th>
                <th style="font-weight:600">Interest (in Rupees)</th>
                <th style="font-weight:600">Instalment (in Rupees)</th>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>

    </div>
    <br />
    <br />
</body>
</html>