<style>
    .marButton {
        margin-top: 22px;
        margin-left: 30px;
    }
</style>
<div class="page page-table">
    <section class="panel panel-default table-dynamic">
        <div class="panel-heading">
            <strong>
                <span class="glyphicon glyphicon-th"> </span> App Versions
            </strong>
        </div>
        <div class="panel-body">
            <div class="row">
            </div>
            <div class="row">
                <div class="col-md-12">
                    <form class="form-inline" role="form">
                        <div class="form-group">
                            <label for="site-name">Select:</label><br />
                            <select class="form-control" id="site-name" ng-model="data.type" ng-change="selectedtypeChanged(data)">
                                <option value="">--select--</option>
                                <option value="{{a.value}}" ng-repeat="a in selectType">{{a.text}}</option>
                            </select>
                        </div>
                    </form>
                </div>
                <table class="table table-bordered table-striped table-responsive">
                    <thead>
                        <tr>
                            <th>
                                <div class="th">
                                    ID
                                </div>
                            </th>
                            <th>
                                <div class="th">
                                    App version
                                </div>
                            </th>
                            <th>
                                <div class="th">
                                    isCompulsory
                                </div>
                            </th>
                            <th>
                                <div class="th">
                                    Status
                                </div>
                            </th>
                            <th>
                                <div class="th">
                                    Created Date
                                </div>
                            </th>
                            <!--<th>
                                <div class="th">
                                    Edit
                                </div>
                            </th>-->
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="trade in dataselect">
                            <td>{{trade.id}}</td>
                            <td>{{trade.App_version}}</td>
                            <td>{{trade.isCompulsory}}</td>
                            <td>{{trade.Active}}</td>
                            <td>{{trade.createdDate  | date:'medium'}}</td>
                            <!--<td>
                                <button class="btn-sm btn-primary" ng-click="Edit(trade)">Edit</button>
                            </td>-->
                        </tr>
                    </tbody>
                </table>


            </div>
            </div>
    </section>
</div>

<script type="text/ng-template" id="EditAppversion.html">

    <form name="myFormSiteModal">

        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()" data-dismiss="modal">
                <span class="icon icon-x" aria-hidden="true">
                </span>
                <span class="sr-only">Close</span>
            </button>
            <button aria-hidden="true" class="close" data-dismiss="modal" type="button" ng-click="ok()">×</button>
            <h4 class="modal-title">Edit App Version </h4>

        </div>

        <div class="modal-body">
            <div class="colasdasdasd">
                <p style="color: #FF0000" ng-show="gotErrors"> Unable To Create Site  ! Please Try Again</p>
                <p style="color: #FF0000" ng-show="AlreadyExist"> Site Already Exist  ! Please Try Another Site</p>
            </div>


            <div class="form-group">
                <label for="site-name">Active:</label><br />
                <input id="site-name" type="checkbox" class="form-control" ng-model="ActiveData.Active" />
            </div>

            <div class="form-group">
                <label for="site-name">isComp:</label><br />
                <input id="site-name" type="checkbox" class="form-control" ng-model="ActiveData.Active" />
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-ar btn-warning" ng-click="cancel()" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-ar btn-primary" ng-click="Editapp(ActiveData)">Set</button>
        </div>
    </form>
</script>
