<div id="nav-wrapper" style="overflow-y: auto;" data-ng-controller="NavCtrl">
    <ul class="nav-sb" id="nav" data-collapse-nav="menu" data-slim-scroll data-highlight-active ng-repeat="menu in permissions" style="margin-bottom: 0px">
        <li>
            <a href="#/{{menu.ChildPageDcs.length>0? 'form':menu.RouteName}}">
                <i class="{{menu.ClassName}}">
                    <span class="{{menu.IconClassName}}"></span>
                </i>
                <span data-i18n="{{menu.PageName}}"></span>
            </a>
            <ul ng-show="menu.ChildPageDcs.length>0">
                <li ng-repeat="submenu in menu.ChildPageDcs">
                    <a href="#/{{submenu.RouteName}}">
                        <i class="{{submenu.ClassName}}">
                        </i> <span data-i18n="{{submenu.PageName}}"></span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>



</div>