<style>
    .btn-link, .btn-link:hover, .btn-link:focus, .btn-link:active {
    border-color: #024c1c;
    background-color: #024c1c;
    color: #ffffff;
    border-radius: 15px;
}
.btn-primary {
    color: white;
    background-color: #00a4e9;
    border-color: #00a4e9;
    border-radius: 15px;
}
.btn-warning {
    color: white;
    background-color: #ffb61c;
    border-color: #ffae02;
    border-radius: 15px;
}
.form-control {
    border-width: 1px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-radius: 15px;
}
</style>
<div class="page page-table">
    <section class="panel panel-default table-dynamic">
        <div class="panel-heading">
            <strong>
                <span class="glyphicon glyphicon-th"> </span>&nbsp; Cheque History
            </strong>
        </div>
        <br />
        <div class="row">

            <div class="col-md-2" style="margin-top: -12px;">
                <label for="site-name">Cheque Status:</label><br />
                <select ng-model="ChequeStatusFilter" class="form-control">
                    <option value="" selected>Select Cheque Status</option>
                    <option ng-repeat="status in chequeStatusList" value="{{status.Value}}">{{status.Name}}</option>
                </select>
            </div>
            <!--<div class="col-md-2" style="margin-top: -12px;">
        <label for="site-name" >Start Date:</label><br>
        <div class="form-group">
            <input id="date" type="datetime-local" title="Select Date" ng-model="searchfilter.FilterChequeDate" autocomplete="off" class="form-control" />
        </div>
    </div>
          <div class="col-md-2" style="margin-top: -12px;">
        <label for="site-name" >End Date:</label><br>
        <div class="form-group">
            <input id="dat" type="datetime-local" title="Select Date" ng-model="searchfilter.FilterChequeDate" autocomplete="off" class="form-control" />
        </div>
    </div>-->

     <div class="form-group col-md-2" style="margin-top: -12px;">
        <label for="site-name">Select Date Range</label><br />
        <div class="form-group">
            <div class='input-group date'>
                <input name="daterange" id="Chequedate" type='text' title="Select Date" autocomplete="off" class="form-control date-picker" />
                <span class="input-group-addon ">
                    <span class="fa fa-calendar"></span>
                </span>
            </div>
        </div>
    </div>
            <div class="col-md-2" style="margin-top: -12px;">
                <label for="site-name">Search:</label><br>
                <div class="form-group">
                    <input id="dat" type='text' title="Enter Search Filter" placeholder="Enter Search Filter" ng-model="searchfilter" autocomplete="off" class="form-control" />
                </div>
            </div>
            <div class="col-md-2 " style="margin-top: 10px;">
                <button ng-click="GetFilterChequeData()" ngEnter="GetFilterChequeData()" class="btn btn-link">Search</button>
                <button class="btn-sm btn-primary" ngEnter="exportData1()" ng-click="exportData1()"> Export </button>
                <button type="button" class="btn btn-warning" ngEnter="Back()" ng-click="Back()">Back</button>
            </div>
        </div> 
            <br />
            <div class="row" ng-if="Warehouseid != '0'">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped table-responsive">
                        <thead>
                            <tr>
                                <th> DBoy Name</th>
                                <th> Assignment ID</th>
                                <th> Order ID </th>
                                <th> SKCode </th>
                                <th> Bank Cheque </th>
                                <th> Cheque No.</th>
                                <th> Cheque Amount</th>
                                <th> Cheque Date</th>
                                <th> Deposit Date</th>
                                <th> Deposit Bank</th>
                                <th> Cheque Image</th>
                                <th> Status</th>
                                <th>Download Certificate</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="cheque in chequeCollection">                                
                                <td>
                                    <div ng-bind="cheque.DBoyName"></div>
                                </td>
                                <td>
                                    <div ng-bind="cheque.Deliveryissueid"></div>
                                </td>
                                <td>
                                    <div ng-bind="cheque.OrderId"></div>
                                </td>
                                <td>
                                    <div ng-bind="cheque.SKCode"></div>
                                </td>

                                <td>
                                    <div ng-bind="cheque.ChequeBankName"></div>
                                </td>
                                <td>
                                    <div ng-bind="cheque.ChequeNumber"></div>
                                </td>
                                <td>
                                    <div ng-bind="cheque.ChequeAmt"></div>
                                </td>
                                <td>
                                    {{cheque.ChequeDate | date:"dd/MM/yyyy"}}
                                </td>
                                <td>
                                    {{cheque.BankSubmitDate | date:"dd/MM/yyyy"}}
                                </td>
                                <td>
                                    {{cheque.DepositBankName}}
                                </td>
                                <td>
                                    <!--<img ng-if="cheque.ChequeimagePath" class="img-sml" ng-src="cheque.ChequeimagePath" ng-click="showImage(cheque)" />
    <img ng-if="!cheque.ChequeimagePath" class="img-sml" src="../../styles/img/checkmark.png" ng-click="showImage(cheque)" />-->
                                    <img src={{cheque.ChequeimagePath}} class="img-square img80_80" ng-click="showImage(cheque)" />
                                </td>
                                <td>
                                    {{cheque.ChequeStatusText}}
                                    <br></br>    <!--ng-disabled="(BounceImage!='null')"-->

                                    <button type="button" class="btn btn-primary" ng-if="(cheque.ChequeStatus =='4' )" ng-click="Bounce(cheque)" ng-disabled="cheque.BounceImage !=null">Gen Certificate</button>

                                </td>
                                <td>
                                    <a href="{{cheque.BounceImage}}" download="">{{SplitLastvalue(cheque.BounceImage)}}</a><br />
                                </td>


                            </tr>

                        </tbody>
                    </table>
                    <footer class="table-footer">
                        <div class="row">
                            <div class="col-md-6 page-num-info">
                                <span>
                                    Show
                                    <select name="page" ng-model="vm.rowsPerPage" ng-change="onNumPerPageChange()">
                                        <option value="3">3</option>
                                        <option value="5">5</option>
                                        <option value="10">10</option>
                                        <option value="20">20</option>
                                    </select>
                                    entries per page
                                </span>
                            </div>
                            <div class="col-md-6 text-right pagination-container">
                                <pagination class="pagination-sm"
                                            page="vm.currentPage"
                                            total-items="vm.count"
                                            max-size="4"
                                            on-select-page="changePage(page)"
                                            items-per-page="vm.rowsPerPage"
                                            rotate="false"
                                            boundary-links="true">
                                </pagination>
                            </div>
                        </div>
                    </footer>
                </div>
            </div>
            <div class="row" ng-if="Warehouseid == '0'">
                <div class="col-lg-12">
                    <span> You are not authorize person to access warehouse dashboard</span>
                </div>
            </div>
</section>
</div>


<div id="myModal" class="modal mdl" role="dialog" ng-if="vm.isImagePopupOpen">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ngEnter="hideImage()" ng-click="hideImage()">Close</button>
            </div>
            <div class="modal-body">
                <img ng-if="selectedChequeForImage.ChequeimagePath" id="myimage" class="img-big" src="{{selectedChequeForImage.ChequeimagePath}}" />
            </div>
            <div style="text-align:center;">
                <i class="fa fa-rotate-right" style="font-size:48px;" ng-click="rotateImage()"></i>
            </div>
        </div>

    </div>
</div>


<style>
    .mdl {
        display: block !important;
        background-color: rgba(0,0,0,0.5);
    }

    .img-sml{
        width: 100px;
        width: 50px;
    }

    .img-big{
        background: lightgray;
        width: 100%;
    }
</style>