
<style>
    /* =============================================================
      GENERAL STYLES
    ============================================================ */
    @media screen {
        #printSection {
            display: none;
        }
    }

    @media print {
        body * {
            visibility: hidden;
        }

        #printSection, #printSection * {
            visibility: visible;
        }

        #printSection {
            position: absolute;
            left: 0;
            top: 0;
        }
    }

    /*body {
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        line-height: 30px;
    }*/

    .pad-top-botm {
        padding-bottom: 40px;
        padding-top: 22px;
    }

    h4 {
        text-transform: uppercase;
    }
    /* =============================================================
      PAGE STYLES
    ============================================================ */

    .contact-info span {
        font-size: 14px;
        padding: 0px 50px 0px 50px;
    }

    .contact-info hr {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .client-info {
        font-size: 15px;
    }

    .ttl-amts {
        text-align: right;
        padding-right: 50px;
    }

    .containers {
        padding-left: 45px;
        padding-right: 45px;
    }

    hr {
        margin-top: 2px;
        margin-bottom: 2px;
    }
</style>
<style>
    .accordion {
        background-color: #03A9F4;
        color: #fff;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 20px;
        transition: 0.4s;
    }

        .active, .accordion:hover {
            background-color: #ccc;
        }

    .panel {
        padding: 0 18px;
        display: none;
        background-color: white;
        overflow: hidden;
    }


    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>
<style>
    /*Here I will add some css for looks good*/
    .tabContainer {
        max-height: 400px;
        overflow: auto;
        width: 80%;
    }

    .tableData {
        border-left: solid 1px #D8C3C3;
        border-top: solid 1px #D8C3C3;
        width: 100%;
    }

        .tableData tr {
        }

        .tableData td, .tableData th {
            border-right: solid 1px #D8C3C3;
            border-bottom: solid 1px #D8C3C3;
            text-align: left;
            padding: 5px;
        }

        .tableData td {
        }

        .tableData th {
            background-color: #FAFAFA;
            padding: 7px 5px;
            border-bottom-color: #9C9C9C;
        }

    .odd {
        background-color: #f3f3f3;
    }

    .even {
        background-color: #ffffff;
    }

    tr.sub {
        display: none;
    }

    .CX {
        width: 35px;
    }

        .CX span {
            font-family: fantasy;
            font-size: 15px;
            display: block;
            width: 100%;
            cursor: pointer;
            text-align: center;
        }
</style>
<style>
    .imgWth {
        width: 80px;
        height: 80px;
    }

    .invoiceImg img {
        max-width: 100%;
    }

    .modal-body {
        max-height: 750px;
        overflow-y: auto;
    }
</style>


    <div class="modal-header">
        <!--<button type="button" class="close" ng-click="cancel()" data-dismiss="modal">
            <span class="icon icon-x" aria-hidden="true">
            </span>
            <span class="sr-only">Close</span>
        </button>
        <button aria-hidden="true" class="close" data-dismiss="modal" type="button" ng-click="ok()">×</button>-->
        <h4 class="modal-title">GDN List</h4>
    </div>

    <div class="container-fluid">
        <table class="table table-bordered" style="font-size: 14px !important;" width="100" >
            <tbody class="border">

                <tr>
                    <td height="60" width="33%"> <img src="./images/logo.PNG" style="padding-bottom: 20px;" /> <br /></td>

                    <td height="60" width="33%">
                        <p style="padding: 3px;">
                            <span style="float: left">WarehouseId: {{gdn.WarehouseName}} <strong> </strong></span><br />
                        </p>
                    </td>
                </tr>

                <tr>
                    <td>
                        <p>
                            <span style="float: left">Vendor Name: {{gdn.WarehouseName}} </span> <br />
                            <span style="float: left">Inoice No: {{gdn.WarehouseName}} </span> <br />

                        </p>
                    </td>
                    <td>
                        <p style="padding: 3px;">
                            <span style="float: left">No.: {{gdn.WarehouseName}} </span><br />
                            <span ng-show="PurchaseOrderData.IsCashPurchase" style="float:left">Date: {{gdn.WarehouseName}}  </span><br />
                            <span style="float: left">P. O. No: {{gdn.WarehouseName}} </span><br />

                        </p>
                    </td>

                </tr>

            </tbody>
        </table>
    </div>
    <table class="tableData" border="0" cellspacing="0" cellpadding="0">
        <thead>
            <tr>
                <th></th>
                <th>SNo.</th>
                <th>SKU Description</th>
                <th>Return Qty</th>

                <th>Cost Price</th>
                <th>GST</th>
                <th>Total</th>
                <!--<th>Remarks</th>-->
                <!--Added by Anoop
                <th>GDN</th>-->
            </tr>

            <tr ng-repeat="gdn in GdnMaster">
                <th></th>
                <td>{{gdn.WarehouseName}}</td>
                <td>{{gdn.WarehouseName}}</td>
                <td>{{gdn.WarehouseName}}</td>

                <td>Data needed</td>
                <!--<td>{{Od.ItemName}}</td>-->
                <td>{{gdn.WarehouseName}}</td>
                <td>{{gdn.WarehouseName}}</td>
                <!--<td>Data needed</td>-->

            </tr>
        </thead>
        <!-- ngRepeat: O in GrMaster -->
    </table>
    <p>
        <span style="float: left">Vendor Name & Signature</span>
        <span style="float:unset">Receiver Signature </span>
        <span style="float: right">Security Seal & Signature</span>

    </p>
