<style>
    /* =============================================================
      GENERAL STYLES
    ============================================================ */
    @media screen {
        #printSection {
            display: none;
        }
    }

    @media print {
        body * {
            visibility: hidden;
        }

        #printSection, #printSection * {
            visibility: visible;
        }

        #printSection {
            position: absolute;
            left: 0;
            top: 0;
        }
    }

    /*body {
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        line-height: 30px;
    }*/

    .pad-top-botm {
        padding-bottom: 40px;
        padding-top: 22px;
    }

    h4 {
        text-transform: uppercase;
    }
    /* =============================================================
      PAGE STYLES
    ============================================================ */

    .contact-info span {
        font-size: 14px;
        padding: 0px 50px 0px 50px;
    }

    .contact-info hr {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .client-info {
        font-size: 15px;
    }

    .ttl-amts {
        text-align: right;
        padding-right: 50px;
    }

    .containers {
        padding-left: 45px;
        padding-right: 45px;
    }

    hr {
        margin-top: 2px;
        margin-bottom: 2px;
    }
</style>
<style>
    table, th, td {
        text-align: center;
    }
</style>
<style>
    .ui-autocomplete-input {
        border: none;
        font-size: 14px;
        /*width: 300px;
    height: 24px;*/
        margin-bottom: 5px;
        padding-top: 2px;
        border: 1px solid #DDD !important;
        padding-top: 0px !important;
        z-index: 1511;
        position: relative;
    }

    .ui-menu .ui-menu-item a {
        font-size: 12px;
    }

    .ui-autocomplete {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1510 !important;
        float: left;
        display: none;
        min-width: 160px;
        width: 160px;
        padding: 4px 0;
        margin: 2px 0 0 0;
        list-style: none;
        background-color: #ffffff;
        border-color: #ccc;
        border-color: rgba(0, 0, 0, 0.2);
        border-style: solid;
        border-width: 1px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        -webkit-background-clip: padding-box;
        -moz-background-clip: padding;
        background-clip: padding-box;
        *border-right-width: 2px;
        *border-bottom-width: 2px;
    }

    .ui-menu-item > a.ui-corner-all {
        display: block;
        padding: 3px 15px;
        clear: both;
        font-weight: normal;
        line-height: 18px;
        color: #555555;
        white-space: nowrap;
        text-decoration: none;
    }

    .ui-state-hover, .ui-state-active {
        color: #ffffff;
        text-decoration: none;
        background-color: #0088cc;
        border-radius: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        background-image: none;
    }

    #modalIns {
        width: 500px;
    }

    .Divcontainer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr; /* fraction*/
        padding-left: 10px;
    }
</style>


<div class="page page-table">
    <section class="panel panel-default table-dynamic">
        <div class="panel-heading">
            <strong><span class="glyphicon glyphicon-th"></span>  Marketting Budget </strong>
        </div>


        <div class="panel-body">
            <div class="row">
                <div class="col-md-3">
                    <label for="site-name"> L1 to L5 Amount</label><br />
                    <input ng-model="item.amount" />
                </div>

                <div class="col-md-3">
                    <label for="site-name"> L0 Amount </label><br />
                    <input ng-model="item.lamount" />
                </div>

                <!--<div class="col-md-3" ng-show="false">
                    <label for="site-name"> </label><br>
                    <button type="button" class="btn btn-ar btn-primary" ng-click="RunVirtualEnviornment()"> Run ML </button>
                </div>

                <div class="col-md-3" ng-show="false">
                    <label for="site-name"> </label><br>
                    <button type="button" class="btn btn-ar btn-primary" ng-click="KillVirtualEnviornment()"> Kill ML </button>
                </div>-->
            </div>

            <div class="row">
                <div class="col-md-3">
                    <label for="site-name"> Year </label><br />
                    <select class="form-control" ng-model="item.year">
                        <option value="">--Select--</option>
                        <option value="{{a}}" ng-repeat="a in year">{{a}}</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="site-name"> Month </label><br />
                    <select class="form-control" ng-model="item.month">
                        <option value="">--Select--</option>
                        <option value="{{a}}" ng-repeat="a in month">{{a}}</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="site-name"> Bands </label><br />
                    <select class="form-control" ng-model="item.band">
                        <option value="">--Select--</option>
                        <option value="{{a}}" ng-repeat="a in band">{{a}}</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="site-name"> Levels </label><br />
                    <select class="form-control" ng-model="item.levels">
                        <option value="">--Select--</option>
                        <option value="{{a}}" ng-repeat="a in level">{{a}}</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <label for="site-name"> City Name</label><br />
                    <select class="form-control" id="site-name" ng-change="getWarehosues(item.Cityid)" ng-model="item.Cityid">
                        <option value="">--Select--</option>
                        <option value="{{a.Cityid}}" ng-repeat="a in city">{{a.CityName}}</option>
                    </select>
                </div>

                <div class="col-md-3">
                    <label for="site-name"> Warehouse </label><br />
                    <select class="form-control" id="site-name" ng-model="item.WarehouseId">
                        <option value="">--Select--</option>
                        <option value="{{a.WarehouseId}}" ng-repeat="a in warehouse" ng-selected="WarehouseId == a.WarehouseId">{{a.WarehouseName}}</option>
                    </select>
                </div>

                <div class="col-md-3">
                    <label for="site-name"> </label><br>
                    <div class='input-group date'>

                        <button type="button" class="btn btn-ar btn-primary" ng-click="GetBAData(item)"> Export Report </button>

                    </div>
                </div>
            </div>

            <br>
            <br>
            <table class="table table-bordered table-striped table-responsive">
                <thead>
                    <tr bgcolor="white">
                        <th> SNo.</th>
                        <th> SK Code</th>
                        <th> Order Count </th>
                        <th> Brand Count</th>
                        <th> Self Order Count </th>
                        <th> KK Volumn</th>
                        <th> Volumn</th>
                        <th> Levels</th>
                        <th> Status</th>
                        <th> Allocation</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="trade in Allocation">
                        <td>{{$index+1}}</td>
                        <td>{{trade.SkCode}}</td>
                        <td>{{trade.OrderCount}}</td>
                        <td>{{trade.BrandCount}}</td>
                        <td>{{trade.Selfordercount}}</td>
                        <td>{{trade.kkVolumn}}</td>
                        <td>{{trade.Volume}}</td>
                        <td>{{trade.levels}}</td>
                        <td>{{trade.status}}</td>
                        <td>{{trade.allocation | number : 2}}</td>
                    </tr>
                </tbody>
            </table>
            <br>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-ar btn-primary" ng-click="AddData(Allocation,item)"> Save Budget Allocation </button>
        </div>

        <div>
            <font color="red">
                Bands Definition:-
                <br>
                *percentile is based on the basis of total volume
                *band is applied on each level u will select
                <br>

                Band 1 :- Above 90 percentile is PROMOTION below 10 percentile is RETENTION and in between it is CONSISTENT
                <br>
                Band 2 :- Above 80 percentile is PROMOTION below 20 percentile is RETENTION and in between it is CONSISTENT
                <br>
                Band 3 :- Above 70 percentile is PROMOTION below 30 percentile is RETENTION and in between it is CONSISTENT
                <br>
                Band 4 :- Above 60 percentile is PROMOTION below 40 percentile is RETENTION and in between it is CONSISTENT
            </font>
            <br>
        </div>
    </section>
</div>