
<div class="page">

    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()" data-dismiss="modal">
            <span class="icon icon-x" aria-hidden="true">
            </span>
            <span class="sr-only">Close</span>
        </button>
        <button aria-hidden="true" class="close" data-dismiss="modal" type="button" ng-click="ok()">×</button>
        <h4 class="modal-title">Add Warehouse Sub Sub Category</h4>

    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="site-name">Select State:</label><br />
            <select class="form-control" id="site-name" ng-model="WhCategoryData.Stateid">
                <option value="">---SELECT---</option>
                <option value="{{state.Stateid}}" ng-repeat="state in WarhouseStateSubSub "> {{state.StateName}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="site-name">Select City:</label><br />
            <select class="form-control" id="site-name" data-ng-disabled="!WhCategoryData.Stateid" ng-model="WhCategoryData.Cityid">
                <option value="">---SELECT---</option>
                <option value="{{city.Cityid}}" ng-repeat="city in citys| filter:{Stateid:WhCategoryData.Stateid}"> {{city.CityName}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="site-name">Select Warehouse :</label><br />
            <select class="form-control" id="site-name" data-ng-disabled="!WhCategoryData.Cityid || !WhCategoryData.Stateid" ng-model="WhCategoryData.WarehouseId" data-ng-change="GetWarhouseSubSubCategory(WhCategoryData)">
                <option value="">---SELECT---</option>
                <option value="{{WareHouse.WarehouseId}}" ng-selected="(WareHouse.WarehouseId == UserRole.WarehouseId)" ng-repeat="WareHouse in warehouses|filter:{Cityid:WhCategoryData.Cityid} "> {{WareHouse.WarehouseName}}</option>
            </select>
        </div>
        <table class="table table-bordered table-striped table-responsive table-hover">
            <thead>
                <tr>
                    <th>
                        <div class="th">
                            <input type="checkbox" ng-model="selectedAll" ng-click="checkAll()" />
                            Select
                        </div>
                    </th>
                    <th>
                        <div class="th">BaseCategoryID</div>
                    </th>
                    <th>
                        <div class="th">CategoryName</div>
                    </th>
                    <th>
                        <div class="th">SubCategoryName</div>
                    </th>
                    <th>
                        <div class="th">SubSubCategoryName</div>
                    </th>
                    <th>
                        <div class="th">Code</div>
                    </th>
                    <th>
                        <div class="th">Date </div>
                    </th>
                    <th>
                        <div class="th">Image </div>
                    </th>
                    <th>
                        <div class="th">Commision Percent </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <!--track by $index-->
                <tr data-ng-repeat="category in Wcategorys ">
                    <td width="100" style="text-align: left" header="'ng-table/headers/checkbox.html'">
                        <input type="checkbox" input class="form-control" ng-model="checkboxes.items[category.SubsubCategoryid]" />
                    </td>
                    <td>
                        <label id={{category.BaseCategoryId}} ng-model="category.BaseCategoryId">{{category.BaseCategoryId}}</label>
                    </td>
                    <td>
                        <label id={{category.Categoryid}} ng-model="category.CategoryName">{{category.CategoryName}}</label>
                    </td>
                    <td> <label id={{category.SubCategoryId}} ng-model="category.SubcategoryName">{{category.SubcategoryName}}</label></td>
                    <td> <label id={{category.SubsubCategoryid}} ng-model="category.SubsubcategoryName">{{category.SubsubcategoryName}}</label></td>
                    <td> <label id={{category.Code}} ng-model="category.Code">{{category.Code}}</label></td>

                    <td>{{category.CreatedDate| date:'medium'}}</td>
                    <td><img alt="" src="{{category.LogoUrl}}" class="img-square img80_80"></td>
                    <td> <label id={{category.CommisionPercent}} ng-model="category.CommisionPercent">{{category.CommisionPercent}}</label></td>

                </tr>
            </tbody>
        </table>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-ar btn-warning" ng-click="cancel()" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-ar btn-primary" ng-click="AddWhSubSubCategory(Wcategorys)">Save</button>
    </div>
</div>