<style>
    #canvas .circle {
        display: inline-block;
        margin: 1em;
    }

    .circles-decimals {
        font-size: .4em;
    }

    ul {
        font-size: 14px;
        text-decoration: none;
        line-height: 20px;
        list-style-type: none;
    }

    li {
        display: list-item;
        text-align: -webkit-match-parent;
    }

    ul span.billable-percent-key {
        background: #41b419;
        border-radius: 2px;
        float: left;
        height: 9px;
        margin: 6px 6px 0 0;
        text-indent: -5000px;
        width: 9px;
    }

    .progress-bar {
        float: left;
        width: 0%;
        height: 100%;
        font-size: 12px;
        line-height: 20px;
        color: #b5e5a5;
        text-align: center;
        background-color: #41b419 !important;
        -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
        box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
        -webkit-transition: width 0.6s ease;
        -o-transition: width 0.6s ease;
        transition: width 0.6s ease;
    }

    ul span.billable-percent-key.key-unbillable {
        background: #b5e5a5;
    }

    #legend {
        height: 50px;
        background: rgba(127, 127, 127, 0.5);
    }

        #legend span {
            display: inline-block;
            padding: 15px 30px;
            position: relative;
        }

            #legend span:after {
                padding-left: 4px;
                content: '\00a0\00a0\00a0\00a0\00a0\00a0';
                text-decoration: line-through;
            }
</style>

<div class="page page-table" button-permission-binder parentName="Warehouse" pageName="WH Category">
    <section class="panel panel-default table-dynamic">
        <div class="panel-heading">
            <strong>
                <span class="glyphicon glyphicon-th"> </span> Warehouse Category
            </strong>
        </div>
        <br />
        <div>
            <a href="#/MappWarehouseCategory" target="_blank"><button class="btn btn-primary"><span class="glyphicon glyphicon-plus skadd"> </span>Mapp Category</button></a>

            <br />
            <br />
            <div class="form-group col-md-2">
                <label for="site-name">Select Warehouse</label><br />
                <select class="form-control" id="site-name" ng-model="WarehouseId" data-ng-change="getData(WarehouseId)">
                    <option value="{{warehouses.WarehouseId}}" ng-repeat="warehouses in warehouse" data-ng-selected="WarehouseId == warehouses.WarehouseId"> {{warehouses.WarehouseName}} {{warehouses.CityName}}</option>
                </select>
            </div>
            <span class="panel-heading" style="background-color:burlywood">Search</span><input class="form ng-pristine ng-valid" style="padding: 8px 0px 8px 0px; margin: 21px 0px 0px 0px;" ; data-ng-model="searchKeywords" data-ng-keyup="search()">
            
        </div>
        <div class="page page-table">
            <section class="panel panel-default table-dynamic">


                <table class="table table-bordered table-striped table-responsive">
                    <thead>
                        <tr>
                            <th>
                                <div class="th">
                                    S.No
                                    <span class="glyphicon glyphicon-chevron-up"
                                          data-ng-click="order('  S.No')"
                                          data-ng-class="{active: row == '  S.No'}"></span>
                                    <span class="glyphicon glyphicon-chevron-down"
                                          data-ng-click="order('-  S.No')"
                                          data-ng-class="{active: row == '-  S.No'}"></span>
                                </div>
                            </th>
                            <th>
                                <div class="th">
                                    Warehouse Name
                                    <span class="glyphicon glyphicon-chevron-up"
                                          data-ng-click="order('WarehouseName')"
                                          data-ng-class="{active: row == 'WarehouseName'}"></span>
                                    <span class="glyphicon glyphicon-chevron-down"
                                          data-ng-click="order('-WarehouseName')"
                                          data-ng-class="{active: row == '-WarehouseName'}"></span>
                                </div>
                            </th>
                            <th>
                                <div class="th">
                                    Brand Name
                                    <span class="glyphicon glyphicon-chevron-up"
                                          data-ng-click="order('CategoryName')"
                                          data-ng-class="{active: row == 'CategoryName'}"></span>
                                    <span class="glyphicon glyphicon-chevron-down"
                                          data-ng-click="order('-CategoryName')"
                                          data-ng-class="{active: row == '-CategoryName'}"></span>
                                </div>
                            </th>

                            <th>
                                <div class="th">
                                    Brand code
                                    <span class="glyphicon glyphicon-chevron-up"
                                          data-ng-click="order('Discription')"
                                          data-ng-class="{active: row == 'Discription'}"></span>
                                    <span class="glyphicon glyphicon-chevron-down"
                                          data-ng-click="order('-Discription')"
                                          data-ng-class="{active: row == '-Discription'}"></span>
                                </div>
                            </th>
                            <th>
                                <div class="th">
                                    Brand Image
                                    <span class="glyphicon glyphicon-chevron-up"
                                          data-ng-click="order('Discription')"
                                          data-ng-class="{active: row == 'Discription'}"></span>
                                    <span class="glyphicon glyphicon-chevron-down"
                                          data-ng-click="order('-Discription')"
                                          data-ng-class="{active: row == '-Discription'}"></span>
                                </div>
                            </th>
                            <th>
                                <div class="th">
                                    IsActive
                                    <span class="glyphicon glyphicon-chevron-up"
                                          data-ng-click="order('Discription')"
                                          data-ng-class="{active: row == 'Discription'}"></span>
                                    <span class="glyphicon glyphicon-chevron-down"
                                          data-ng-click="order('-Discription')"
                                          data-ng-class="{active: row == '-Discription'}"></span>
                                </div>
                            </th>
                            <th>
                                <div class="th">
                                    Created Date
                                    <span class="glyphicon glyphicon-chevron-up"
                                          data-ng-click="order(' CreatedDate')"
                                          data-ng-class="{active: row == ' CreatedDate'}"></span>
                                    <span class="glyphicon glyphicon-chevron-down"
                                          data-ng-click="order('- CreatedDate')"
                                          data-ng-class="{active: row == '- CreatedDate'}"></span>
                                </div>
                            </th>

                           

                            <th>
                                <div class="th">
                                    Active/Deactive
                                </div>
                            </th>

                        </tr>

                    </thead>
                    <tbody>
                        <tr data-ng-repeat="trade in currentPageStores">
                            <td>{{1+$index}}</td>
                            <td>{{trade.WarehouseName}}</td>
                            <td>{{trade.CategoryName}}</td>
                            <td>{{trade.Code}}</td>
                            <td><img alt="" src="{{trade.LogoUrl}}" class="img-square img80_80"></td>
                            <td>{{trade.IsActive}}</td>
                            <td>{{trade.CreatedDate | date:'medium'}}</td>
                            <!--<td><button class="btn-sm btn-primary" ng-click="edit(trade)">Edit</button> </td>-->

                            <td ng-if="trade.IsActive == false"><button class="btn-sm btn-primary" ng-click="Activecate(trade)">Activate</button> </td>
                            <td ng-if="trade.IsActive == true"><button class="btn-sm btn-danger" ng-click="Activecate(trade)">Deactivate</button> </td>

                        </tr>
                    </tbody>
                </table>
                <footer class="table-footer">
                    <div class="row">
                        <div class="col-md-6 page-num-info">
                            <span>
                                Show
                                <select data-ng-model="numPerPage"
                                        data-ng-options="num for num in numPerPageOpt"
                                        data-ng-change="onNumPerPageChange()"></select>
                                entries per page
                            </span>
                        </div>
                        <div class="col-md-6 text-right pagination-container">
                            <pagination class="pagination-sm"
                                        page="currentPage"
                                        total-items="filteredStores.length"
                                        max-size="4"
                                        on-select-page="select(page)"
                                        items-per-page="numPerPage"
                                        rotate="false"
                                        boundary-links="true"></pagination>
                        </div>
                    </div>
                </footer>
            </section>
        </div>
        <!-- /site tiles -->

    </section>
</div>

<script type="text/ng-template" id="activewarehousecmodal.html">

    <form name="myFormSiteModal">

        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()" data-dismiss="modal">
                <span class="icon icon-x" aria-hidden="true">
                </span>
                <span class="sr-only">Close</span>
            </button>
            <button aria-hidden="true" class="close" data-dismiss="modal" type="button" ng-click="ok()">×</button>
            <h4 class="modal-title">Edit OnlineItems </h4>

        </div>

        <div class="modal-body">

            <div class="form-group">
                <label for="site-name">IsActive:</label><br />
                <input id="site-name" type="checkbox" class="form-control" ng-model="CategoryData.IsActive" />
            </div>


        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-ar btn-warning" ng-click="cancel()" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-ar btn-primary" ng-click="putwarehousecategory(CategoryData)">Set</button>
        </div>
    </form>
</script>







<!--Update AssetsCategory-->
<!--<script type="text/ng-template" id="myWhCategoryModalPut.html">

    <form name="myFormSiteModal">

        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()" data-dismiss="modal">
                <span class="icon icon-x" aria-hidden="true">
                </span>
                <span class="sr-only">Close</span>
            </button>
            <button aria-hidden="true" class="close" data-dismiss="modal" type="button" ng-click="ok()">×</button>
            <h4 class="modal-title">Edit Warehouse Category</h4>

        </div>
        <div class="modal-body">
            <div class="colasdasdasd">
                <p style="color: #FF0000" ng-show="gotErrors"> Unable To Create Site  ! Please Try Again</p>
                <p style="color: #FF0000" ng-show="AlreadyExist"> Site Already Exist  ! Please Try Another Site</p>
            </div>
            <label></label>
            <div class="form-group">
                <label for="site-name">Select State: </label><br />
                <select class="form-control" id="site-name" ng-model="WhCategoryData.Stateid">
                    <option value="">{{WhCategoryData.State}}</option>
                    <option value="{{state.Stateid}}" ng-repeat="state in WarhouseStates "> {{state.StateName}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="site-name">Select City:</label><br />
                <select class="form-control" id="site-name" data-ng-disabled="!WhCategoryData.Stateid" ng-model="WhCategoryData.Cityid">
                    <option value="">{{WhCategoryData.City}}</option>
                    <option value="{{city.Cityid}}" ng-repeat="city in citys| filter:{Stateid:WhCategoryData.Stateid}"> {{city.CityName}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="site-name">Select Warehouse :</label><br />
                <select class="form-control" id="site-name" data-ng-disabled="!WhCategoryData.Cityid || !WhCategoryData.Stateid" ng-model="WhCategoryData.WarehouseId" data-ng-change="GetWarhouseCategoryById(WhCategoryData)">
                    <option value="">{{WhCategoryData.WarehouseName}}</option>
                    <option value="{{WareHouse.WarehouseId}}" ng-repeat="WareHouse in warehouses|filter:{Cityid:WhCategoryData.Cityid} "> {{WareHouse.WarehouseName}}</option>
                </select>
            </div>


            <table class="table table-bordered table-striped table-responsive table-hover">
                <thead>
                    <tr>
                        <th>
                            <div class="th">Orders</div>
                        </th>

                        <th>
                            <div class="th">CategoryName</div>
                        </th>
                        <th>
                            <div class="th">IsVisible </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="category in WcategorysPut">
                        <td><input id={{category.Categoryid}} type="text" value="category.SortOrder" class="form-control" style="width:50px;" ng-model="category.SortOrder" placeholder="0" required /></td>
                        <td> <label id={{category.Categoryid}} ng-model="category.CategoryName">{{category.CategoryName}}</label></td>
                        <td><input id={{category.Categoryid}} type="checkbox" value="" class="form-control" ng-model="category.IsVisible" /></td>
                    </tr>
                </tbody>
            </table>

            <div class="form-group">
                <label for="site-name"> Description:</label><br />
                <textarea id="site-name" class="form-control" rows="3" required="" ng-model="WhCategoryData.Discription" placeholder="Enter  description"></textarea>
            </div>



        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-ar btn-warning" ng-click="cancel()" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-ar btn-primary" ng-click="PutWhCategory(WcategorysPut,WhCategoryData)">Save</button>
        </div>
    </form>
</script>-->
<!-- /new site modal -->
<!--<script type="text/ng-template" id="myModaldeleteWhCategory.html">

    <form name="myFormTaskTypeModal1">

        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()" data-dismiss="modal">

                <span class="icon icon-x" aria-hidden="true">
                </span>
                <span class="sr-only">Close</span>
            </button>
            <button aria-hidden="true" class="close" data-dismiss="modal" type="button" ng-click="ok()">×</button>
            <h4 class="modal-title">Delete warehouse Category</h4>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="TaskType-name">Are you sure you want to Delete?</label><br />
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-ar btn-warning" ng-click="cancel()" data-dismiss="modal">No</button>
            <button type="submit" class="btn btn-ar btn-primary" ng-click="deleteWhCategory(WhCategoryData,$index)">Yes</button>
        </div>
    </form>
</script>
